<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:if="${user.getName() == null}">
    <title>User add</title>
    </div>
    <div th:if="${user.getName() != null}">
        <title>User update</title>
    </div>

</head>
<body>
<div th:if="${user.getName() == null}">
    <h2>User add</h2>
</div>
<div th:if="${user.getName() != null}">
    <h2>User update</h2>
</div>

<br>
    <form th:method="POST" th:action="@{/users/saveUser}" th:object="${user}">

        <input type="hidden" th:field="*{id}">
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
    <br><br>
        <label for="lastName">Last Name: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
    <br><br>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
    <br><br>
        <input type="submit" value="OK"/>
    </form>



</body>
</html>